Repository meekMusa2/OM1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OpenMind/core-developer-team, @OpenMind/devrel-team, @OpenMind/openmind-core, @OpenMind/robotics-team

.github/CODEOWNERS:

# Default owners for everything
* @OpenMind/core-developer-team

# OM Code Reviewer Rules
*.mdx @OpenMind/devrel-team @OpenMind/openmind-core
*.md @OpenMind/devrel-team @OpenMind/openmind-core
/docs/ @OpenMind/devrel-team @OpenMind/openmind-core
/config/ @OpenMind/core-developer-team @OpenMind/openmind-core
/src/ @OpenMind/robotics-team @OpenMind/openmind-core
/gazebo/ @OpenMind/robotics-team @OpenMind/openmind-core
/system_hw_test/ @OpenMind/robotics-team @OpenMind/openmind-core
/.github/ @OpenMind/openmind-core

chore: fix a large number of spelling issues (#605)
  docs/full_autonomy_guidelines/pre_config.mdx
  docs/robotics/zenoh.md
  gazebo/docker/gazebo_ros/docker/guide_ws/src/unitree_guide/unitree_guide/src/quadProgpp/QuadProg++.cc
  gazebo/docker/gazebo_ros/docker/guide_ws/src/unitree_legged_msgs/package.xml
  gazebo/docker/gazebo_ros/docker/guide_ws/src/unitree_ros/robots/go2_description/README.md
  gazebo/docker/gazebo_ros/docker/guide_ws/src/unitree_ros/unitree_controller/src/body.cpp
  mintlify/full_autonomy_guidelines/pre_config.mdx
  mintlify/robotics/zenoh.md
  src/actions/dimo/connector/tesla.py
  src/actions/orchestrator.py
  src/inputs/plugins/vlm_dummy_local.py
  src/providers/odom_provider.py
  src/providers/turtlebot4_camera_vlm_provider.py
  src/providers/unitree_go2_state_provider.py
  system_hw_test/om_audio_remote_input.py
Owners: @OpenMind/devrel-team, @OpenMind/openmind-core, @OpenMind/robotics-team

Refactor dockerfile for small improvements (#598)
  Dockerfile
Owners: @OpenMind/core-developer-team

Update repo name (#622)
  README.md
  docs/full_autonomy_guidelines/architecture_overview.mdx
  docs/full_autonomy_guidelines/unitree_sdk.mdx
  docs/release-notes/beta/ros2-sdk.mdx
  mintlify/developing/1_get-started.mdx
  mintlify/docs.json
  mintlify/full_autonomy_guidelines/architecture_overview.mdx
  mintlify/full_autonomy_guidelines/unitree_sdk.mdx
  mintlify/release-notes/beta/ros2-sdk.mdx
  mintlify/robotics/nvidia_thor.mdx
Owners: @OpenMind/devrel-team, @OpenMind/openmind-core, @OpenMind/core-developer-team

Improve Unitree Go2 Battery Handler with Safe Message Parsing (#558)
  README.md
  src/inputs/plugins/battery_unitree_go2.py
Owners: @OpenMind/devrel-team, @OpenMind/openmind-core, @OpenMind/robotics-team

Fix readme (#628)
  README.md
  docs/full_autonomy_guidelines/architecture_overview.mdx
  docs/full_autonomy_guidelines/unitree_sdk.mdx
  docs/release-notes/beta/ros2-sdk.mdx
  mintlify/full_autonomy_guidelines/architecture_overview.mdx
  mintlify/full_autonomy_guidelines/unitree_sdk.mdx
  mintlify/release-notes/beta/ros2-sdk.mdx
Owners: @OpenMind/devrel-team, @OpenMind/openmind-core

feat: Multi-wallet support with browser-based connections
  MULTI_WALLET_INTEGRATION.md
  TESTNET_SETUP.md
  config/multi_wallet_demo.json5
  demo_wallet_ui_production.html
  src/inputs/plugins/wallet_base.py
  src/inputs/plugins/wallet_coinbase.py
  src/inputs/plugins/wallet_ethereum.py
  src/inputs/plugins/wallet_solana.py
  test_wallets.py
Owners: @OpenMind/devrel-team, @OpenMind/openmind-core, @OpenMind/core-developer-team, @OpenMind/robotics-team

chore: Add Vercel deployment config
  vercel.json
Owners: @OpenMind/core-developer-team

Delete TESTNET_SETUP.md
  TESTNET_SETUP.md
Owners: @OpenMind/devrel-team, @OpenMind/openmind-core

Complete charity donation integration with crypto wallet payments (Bounty #367)
  config/charity_donation_agent.json5
  create_demo_wallet.py
  home_assistant_charity_config.yaml
  pyproject.toml
  src/actions/charity_donation/connector/giving_block.py
  src/actions/charity_donation/interface.py
  src/trigger_charity_donation.py
  src/web_ui/charity_donation.html
  uv.lock
Owners: @OpenMind/core-developer-team, @OpenMind/openmind-core, @OpenMind/robotics-team
